body {
  background-color: rgba(150, 170, 179, 0.5);
  color: #1b3745;
  font-family: "poppins", sans-serif;
}
.app-wrap {
  max-width: 650px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #1b3745;
  border-radius: 10px;
  box-shadow: 12px 12px 5px rgba(150, 170, 179, 0.4);
}
a {
  text-decoration: none;
}