.search-wrap {
  margin-bottom: 20px;
}
.form-control {
  background-color: rgba(150, 170, 179, 0.4);
}
.form-control:focus {
  border-color: #96aab3;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1b3745;
  background-color: rgba(150, 170, 179, 0.1);
}
.btn {
  color: #1b3745;
  background-color: transparent;
  border-color: #1b3745;
  box-shadow: none;
}
.btn:hover {
  color: #96aab3;
  border-color: #1b3745;
  background-color: #1b3745;
}
.btn:focus {
  background-color: transparent;
  color: #1b3745;
  border-color: #1b3745;
  box-shadow: none;
  outline: none;
}